@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name! Welcome to blazor battles, let's battle!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Blazor Battles</h1>
        <BlazorBattles.Client.Shared.Login></BlazorBattles.Client.Shared.Login>
    </NotAuthorized>
</AuthorizeView>
<PageTitle>Blazor Battles</PageTitle>


