@page "/login"

@if (isAuth)
{
    <h3>Welcome @user.Username</h3>
}
else
{
    <h3>Login</h3>

    <EditForm Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group mb-2">
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        </div>
        <div class="form-group mb-2">
            <label for="password">Password</label>
            <InputText id="password" type="password" @bind-Value="user.Password" class="form-control"></InputText>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm>
}
@code {
    bool isAuth = false;

    private UserLogin user = new UserLogin();

    private void HandleLogin()
    {
        isAuth = true;
        Console.WriteLine($"{user.Username} // {user.Password}");
    }
}
